<h1>Edit Address</h1>

<form (ngSubmit)="editAddress()" #addressForm="ngForm" >
  <div class="form-group">
    <label for="country">Country</label>
    <input type="text" class="form-control" id="country" name="country" required [(ngModel)]="address.country">
  </div>

  <div class="form-group">
    <label for="zipcode">zipcode</label>
    <input type="text" class="form-control" id="zipcode" name="zipcode" required [(ngModel)]="address.zipcode">
  </div>

  <div class="form-group">
    <label for="city">city</label>
    <input type="text" class="form-control" id="city" name="city" required [(ngModel)]="address.city">
  </div>

  <div class="form-group">
    <label for="street">street</label>
    <input type="text" class="form-control" id="street" name="street" required [(ngModel)]="address.street">
  </div>

  <div class="form-group">
    <label for="number">number</label>
    <input type="text" class="form-control" id="number" name="number" required [(ngModel)]="address.number">
  </div>

  <button type="submit" class="btn btn-success" [disabled]="!addressForm.form.valid">Edit Address</button>
  <button type="cancel" class="btn btn-danger" [routerLink]="['address']">Cancel</button>
</form>
